# The IBM Cloud Resource Group
resource_group = ""

# IBM Cloud API Key
ibmcloud_api_key = ""

# IBM Cloud Region where resources will be deployed
region = ""

# Name to prepend to all resources
name = ""

# Wether or not to deploy an IBM Cloud Logging instance with the cluster.
enable_logging = false  

# Wether or not to deploy an IBM Cloud Monitoring instance with the cluster.
enable_monitoring = false 