# The IBM Cloud Resource Group
resource_group = ""

# IBM Cloud API Key
ibmcloud_api_key = ""

# IBM Cloud Region where resources will be deployed
region = ""

# Name to prepend to all resources
name = ""

# Name of an existing SSH key
ssh_key = ""

# Wether or not to also create a monitoring (sysdig) instance 
enable_monitoring = false

# Wether or not to also create a logging (logdna) instance
enable_logging = false

